<h1>Available Chat Rooms</h1>
<h4>Let's talk about Rock n' Roll!</h4>
<p *ngIf="!chatRooms"><em>Loading...</em></p>
<br>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="chatRooms">  
  <tbody>
    <tr *ngFor="let chatRoom of chatRooms">
      <td><h4>{{ chatRoom.name }}</h4></td>
      <td>
        <!-- <a class="btn btn-primary mb-2" [routerLink]="['chat-room', chatRoom.id]" style="float: right;" [disabled]="!canEnterRoom">Enter Room</a> -->
        <button [routerLink]="['chat-room', chatRoom.id]" type="button" class="btn btn-primary mb-2" style="float: right;" [disabled]="!canEnterRoom">Enter Room</button>
      </td>      
    </tr>
  </tbody>
</table>
<p>Choose a NickName and then click on "Enter Room" button to have a great time!</p>
<form class="form-inline">
   <div class="form-group mx-sm-3 mb-2">
    <label for="nickname" class="sr-only">NickName</label>
    <input [(ngModel)]="nickName" type="text" name="nickName" class="form-control" id="nickname">
  </div>
  <button type="button" (click)="setUser()" class="btn btn-primary mb-2" [disabled]="nickName == null">Save</button>
  <p style="margin: 10px;" *ngIf="message"><strong>{{message}}</strong></p>
</form>
